.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body{
    font-family: 'Roboto', sans-serif; 
    margin: 0;
}

/* FIRST BLOCK */

.first-block{
    background: #1F2937;
    padding-left: 220px;
    padding-right: 220px;
}

.header{
    display: flex;
    flex-wrap: wrap;              
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    flex-shrink: 0;
}

.menu{
    display: flex;
    flex-direction: row;
}

ul.menu-style{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0px;
    padding: 0px;
}

ul.menu-style li a{
    color: #F9FAF8;
    text-decoration: none;
}

.menu-style li a:hover {
    color : #FD9B24;
 }

 .intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;               /* not working as expected */  
    background: #1F2937;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 30px;
}

.intro-left{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 500px;
    gap: 30px;
}

.menu, .small-message{
    font-size: 18px;
    color: #E5E7EB;
}

.yellow-underline{
    text-decoration-line: underline;
    text-underline-offset: 6px;
    text-decoration-color: #FD9B24;
    text-decoration-thickness: 2px;
}

.big-message{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.sign-up-button{
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 8px 30px 8px 30px;
}

.sign-up-button:hover {
    background-color:#F9FAF8;
    color: #3882f6;
}

.sign-up-button:active {
    background-color:#F9FAF8;
    color: black;
}

.intro-right{
    display: flex;
    align-items: center;
    justify-content: right;
}

/* SECOND BLOCK */

.second-block{
    background-color: #F9FAF8;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.second-block-top-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 60px 0px;
    color: black;
    font-size: 36px;
    font-weight: 800;
}

.second-block-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
}

.second-block-picture-containers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    text-align: center;
}


.second-block-picture-containers a{
    color: #3882f6;
    text-decoration: none;
    font-weight: bold;
}

.second-block-picture-containers a:hover {
    color : #FD9B24;
 }

img.divisions {
    border-radius: 15px;
    align-self: center;
}  

img.divisions:hover {
    opacity: 0.7;
  }

h3 {
    font-size: 24px;
    margin: 25px 0px 0px 0px;
    padding: 0px;
}

.pic-text{
    margin: 25px 0px 0px 0px;
}

.pic-text-two{
    margin: 25px 0px 0px 0px;
}

.learn{
    font-size: 18px;
}

/* THIRD BLOCK */

.third-block{
    background-color: #E5E7EB;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    text-align: left;
    padding-right: 120px;
    padding-left: 120px;
    }
    
.quote-author{
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    padding-right: 140px;
    padding-top: 20px;    
    }

/* FOURTH BLOCK */

.fourth-block{
    background-color: #F9FAF8;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.blue-container{
    background-color: #3882f6;
    border-radius: 8px;
    padding: 50px 70px 50px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fourth-block-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}


.fourth-block-big-text{
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.fourth-block-small-text{
    font-size: 18px;
    color: #E5E7EB;   
}

.fourth-block-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.bottom-button{
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 10px;
    border-color: #F9FAF8;
    padding: 8px 30px 8px 30px;
}

.bottom-button:hover {
    background-color:#F9FAF8;
    color: #3882f6;
}

.bottom-button:active {
    background-color:#F9FAF8;
    color: black;
}

/* FIFTH BLOCK */

.fifth-block{
    color: #F9FAF8;
    font-size: 18px;
    background-color: #1F2937;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
